
@{
    Layout = null;
}

<!DOCTYPE html>
@model List<Sach>
<!DOCTYPE html>
<html lang="zxx">

<head>
     <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/LayoutBook/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/LayoutBook/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/LayoutBook/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/LayoutBook/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/LayoutBook/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/LayoutBook/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/LayoutBook/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/LayoutBook/css/style.css" type="text/css">
</head>

<body>
    <!--Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
                <a href="#"><img src="/LayoutBook/img/logo.png" alt=""></a>
         </div>
            <div class="humberger__menu__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="/LayoutBook/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="/Access/Logout"><i class="fa fa-user"></i> Logout</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                @*<li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>*@
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> Lê Văn Trung -450104259 </li>
                                <li>Bài Kiểm tra giữa kỳ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="/LayoutBook/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/Access/Logout"><i class="fa fa-user"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/LayoutBook/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>



                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Books
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">All</a></li>
                            @foreach (var item in ViewBag.lsttype)
                            {
                                <li><a asp-controller="Home" asp-action="SachTheoLoai" asp-route-maloai="@item.MaTheLoai">@item.TenTheLoai</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter" id="MixItUp1AF782">
                @foreach (var item in Model)
                {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="@Url.Content("~/Mybooks/"+item.Hinh)" style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-trang-111.jpg&quot;);">
                                    <ul class="featured__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="/Home/ChiTietSanPham?masp=bacakeroirbl1111%20%20%20%20%20%20%20%20%20">@item.TenSach</a></h6>
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                }

                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/LayoutOgani/imagesWebBanVali/images/balo-can-keo-roncato-ironik-green-180.jpg                                                           " style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-can-keo-roncato-ironik-green-180.jpg&quot;);">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Home/ChiTietSanPham?masp=bacakeroirgr%20%20%20%20%20%20%20%20%20%20%20%20%20">balo can keo roncato ironik green</a></h6>
                            <h5>2500000.0000</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-trang-111.jpg                                                                  " style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-trang-111.jpg&quot;);">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Home/ChiTietSanPham?masp=bacak234566%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo can keo roncato ironik green</a></h6>
                            <h5></h5>
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-trang-111.jpg                                                                  " style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-trang-111.jpg&quot;);">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Home/ChiTietSanPham?masp=bacakeroirbl%20%20%20%20%20%20%20%20%20%20%20%20%20">balo can keo roncato ironik green</a></h6>
                            <h5></h5>
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-03-do-1.jpg                                                                    " style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-03-do-1.jpg&quot;);">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Home/ChiTietSanPham?masp=baroru3do%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo roncato runaway 03 do</a></h6>
                            <h5>2500000.0000</h5>
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-hong-138.jpg                                                                   " style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-hong-138.jpg&quot;);">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Home/ChiTietSanPham?masp=baroruho%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo roncato runaway hong</a></h6>
                            <h5>2500000.0000</h5>
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-trang-111.jpg                                                                  " style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-roncato-runaway-trang-111.jpg&quot;);">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Home/ChiTietSanPham?masp=barorutr%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo roncato runaway trang</a></h6>
                            <h5>2500000.0000</h5>
                        </div>
                    </div>
                </div><div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/LayoutOgani/imagesWebBanVali/images/balo-roncato-runway-den-144.jpg                                                                     " style="background-image: url(&quot;/LayoutOgani/imagesWebBanVali/images/balo-roncato-runway-den-144.jpg&quot;);">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/Home/ChiTietSanPham?masp=barorude%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20">balo roncato runway den</a></h6>
                            <h5>2500000.0000</h5>
                        </div>
                    </div>
                </div><div class="product__pagination">
                    <div class="pagination-container"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="/?page=2">2</a></li><li><a href="/?page=3">3</a></li><li><a href="/?page=4">4</a></li><li><a href="/?page=5">5</a></li><li><a href="/?page=6">6</a></li><li><a href="/?page=7">7</a></li><li><a href="/?page=8">8</a></li><li><a href="/?page=9">9</a></li><li><a href="/?page=10">10</a></li><li class="PagedList-ellipses"><a class="PagedList-skipToNext" href="/?page=11" rel="next">…</a></li><li class="PagedList-skipToNext"><a href="/?page=2" rel="next">&gt;</a></li><li class="PagedList-skipToLast"><a href="/?page=15">&gt;&gt;</a></li></ul></div>
                </div>

            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->

    <!-- Categories Section End -->
    <!-- Featured Section Begin -->

    <!-- Featured Section End -->
    <!-- Banner Begin -->

    <!-- Banner End -->
    <!-- Latest Product Section Begin -->

    <!-- Latest Product Section End -->
    <!-- Blog Section Begin -->

    <!-- Blog Section End -->
    <!-- Footer Section Begin -->

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="/LayoutBook/js/jquery-3.3.1.min.js"></script>
    <script src="/LayoutBook/js/bootstrap.min.js"></script>
    <script src="/LayoutBook/js/jquery.nice-select.min.js"></script>
    <script src="/LayoutBook/js/jquery-ui.min.js"></script>
    <script src="/LayoutBook/js/jquery.slicknav.js"></script>
    <script src="/LayoutBook/js/mixitup.min.js"></script>
    <script src="/LayoutBook/js/owl.carousel.min.js"></script>
    <script src="/LayoutBook/js/main.js"></script>




<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="12993d6c0ce34cc381d43f05a6cfba94"data-requestMappingFromServer="false" data-connectUrl="http://localhost:52514/79441f4229bc4e47977239c429f91e01/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script></body>

</html>
